[Unit]
Description=TTN Packet Forwarder Service

[Install]
WantedBy=multi-user.target

[Service]
TimeoutStartSec=infinity
Type=simple
TimeoutSec=infinity
RestartSec=10
WorkingDirectory=/usr/local/bin
ExecStartPre=/usr/local/bin/pkt-fwd-config.sh
ExecStart=/usr/local/bin/imst-rpi-pktfwd start --config=/etc/ttn-pkt-fwd.yml
Restart=always
BusName=org.thethingsnetwork.ttn-pkt-fwd
